@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
	2021.05.07
	variables _ 變數
*/
/*------------------------------------*\
 $COLOR
\*------------------------------------*/
/*------------------------------------*\
 $LINER
\*------------------------------------*/
/*------------------------------------*\
 $WIDTH
\*------------------------------------*/
/*------------------------------------*\
 $FONT-WEIGHT
\*------------------------------------*/
/*------------------------------------*\
 $TRANSITION
\*------------------------------------*/
/* 
	2021.05.07
	mixin
*/
/*------------------------------------*\
 $RESPONSIVE
\*------------------------------------*/
/* 
	2021.05.07
	Font _ 字體
*/
html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a, .h1, .h2, .h3, .h4, .h5, .h6, .p, .span {
  font-family: 'Noto Sans TC',Arial,Verdana,sans-serif;
}

h1, .h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 52px;
}

h2, .h2 {
  font-size: 2rem;
  letter-spacing: 1.4px;
  line-height: 41px;
}

h3, .h3 {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 41px;
}

h4, .h4 {
  font-size: 1.25rem;
  letter-spacing: 0.4px;
  line-height: 36px;
}

h5, .h5 {
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  line-height: 28px;
}

p, .p {
  font-size: 1rem;
  letter-spacing: 0.3px;
  line-height: 18px;
}

.displayH1 {
  font-size: 2.8rem;
  line-height: 52px;
}

/* 
	2021.05.07
	utils _ 通用類別
*/
/*------------------------------------*\
 $FONT-COLOR
\*------------------------------------*/
.t-primary {
  color: #FABE00;
}

.t-dark-primary {
  color: #6E5300;
}

.t-secondary-primary {
  color: #FDEEBE;
}

.t-light-primary {
  color: #FFE07D;
}

.t-warning {
  color: #F05A32;
}

.t-info {
  color: #00B4C8;
}

.t-white {
  color: #fff;
}

.t-black {
  color: #000;
}

.t-dark {
  color: #333;
}

.t-muted {
  color: #979797;
}

.t-body {
  color: #F9F8F5;
}

/*------------------------------------*\
 $TEXT-SHADOW
\*------------------------------------*/
.t-shadow-black {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/*------------------------------------*\
 $BACKGROUND-COLOR
\*------------------------------------*/
.b-primary {
  background-color: #FABE00;
}

.b-dark-primary {
  background-color: #6E5300;
}

.b-second-dark-primary {
  background-color: #B78B00;
}

.b-secondary-primary {
  background-color: #FDEEBE;
}

.b-warning {
  background-color: #F05A32;
}

.b-info {
  background-color: #00B4C8;
}

.b-black {
  background-color: #000;
}

.b-dark {
  background-color: #333;
}

.b-muted {
  background-color: #979797;
}

.b-light {
  background-color: #d9d9d9;
}

.b-body {
  background-color: #F9F8F5;
}

.b-white {
  background-color: #fff;
}

/*------------------------------------*\
 $TEXT-ALIGN
\*------------------------------------*/
.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

/*------------------------------------*\
 $DISPLAY
\*------------------------------------*/
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*------------------------------------*\
 $TEXT-WEIGHT
\*------------------------------------*/
.t-light {
  font-weight: 300;
}

.t-normal {
  font-weight: 400;
}

.t-bold {
  font-weight: 500;
}

.t-strong {
  font-weight: 800;
}

/*------------------------------------*\
 $SPACING
\*------------------------------------*/
.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 20px;
}

.m-4 {
  margin: 30px;
}

.m-5 {
  margin: 40px;
}

.m-6 {
  margin: 50px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 30px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 50px;
}

.mt-7 {
  margin-top: 60px;
}

.mt-n1 {
  margin-top: -5px;
}

.mt-n2 {
  margin-top: -10px;
}

.mt-n3 {
  margin-top: -20px;
}

.mt-n4 {
  margin-top: -30px;
}

.mt-n5 {
  margin-top: -40px;
}

.mt-n6 {
  margin-top: -50px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 20px;
}

.mr-4 {
  margin-right: 30px;
}

.mr-5 {
  margin-right: 40px;
}

.mr-6 {
  margin-right: 50px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 50px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 20px;
}

.ml-4 {
  margin-left: 30px;
}

.ml-5 {
  margin-left: 40px;
}

.ml-6 {
  margin-left: 50px;
}

.my-1 {
  margin: 5px 0;
}

.my-2 {
  margin: 10px 0;
}

.my-3 {
  margin: 20px 0;
}

.my-4 {
  margin: 30px 0;
}

.my-5 {
  margin: 40px 0;
}

.my-6 {
  margin: 50px 0;
}

.my-7 {
  margin: 60px 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 20px;
}

.p-4 {
  padding: 30px;
}

.p-5 {
  padding: 40px;
}

.p-6 {
  padding: 50px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 20px;
}

.pl-4 {
  padding-left: 30px;
}

.pl-5 {
  padding-left: 40px;
}

.pl-6 {
  padding-left: 50px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pt-4 {
  padding-top: 30px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 50px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 20px;
}

.pb-4 {
  padding-bottom: 30px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-6 {
  padding-bottom: 50px;
}

.pb-7 {
  padding-bottom: 60px;
}

.py-1 {
  padding: 5px 0;
}

.py-2 {
  padding: 10px 0;
}

.py-3 {
  padding: 20px 0;
}

.py-4 {
  padding: 30px 0;
}

.py-5 {
  padding: 40px 0;
}

.py-6 {
  padding: 50px 0;
}

.py-7 {
  padding: 60px 0;
}

/*------------------------------------*\
 $CURSOR
\*------------------------------------*/
.cursor-auto {
  cursor: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-false {
  cursor: not-allowed;
}

/*------------------------------------*\
 $POSITION
\*------------------------------------*/
.p-static {
  position: static;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

/*------------------------------------*\
 $Z-INDEX
\*------------------------------------*/
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

/*------------------------------------*\
 $POSITION
\*------------------------------------*/
.shadow-yellow {
  box-shadow: 0 0 11px 0 #d29f00;
}

/* 
	2021.05.07
	component
*/
.questionLine {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questionLine li {
  margin-right: 20px;
}

@media (max-width: 400px) {
  .questionLine {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .questionLine li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.btn-question {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: block;
  padding: 8px 12px;
  border-radius: 9px;
}

/*------------------------------------*\
 $ICON
\*------------------------------------*/
.icon-question {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon_question.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon-downarrow {
  display: inline-block;
  width: 30px;
  height: 15px;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon-close {
  display: inline-block;
  width: 30px;
  height: 32px;
  background-image: url("../img/icon_close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}

/*------------------------------------*\
 $t-underline
\*------------------------------------*/
*[class*="t-underline"] {
  display: inline-block;
  position: relative;
  z-index: 2;
  text-align: center;
}

*[class*="t-underline"]:before {
  content: "";
  z-index: -1;
  width: 104%;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: -2%;
  border-radius: 10px;
}

@media (max-width: 460px) {
  *[class*="t-underline"]:before {
    display: none;
  }
}

.t-underline-yellow:before {
  background-color: #FABE00;
}

.t-underline-dark:before {
  background-color: rgba(0, 0, 0, 0.7);
}

.t-underline-secondary-primary:before {
  background-color: rgba(250, 190, 0, 0.5);
}

.t-underline-secondary-white:before {
  background-color: rgba(255, 255, 255, 0.2);
}

/*------------------------------------*\
 $NUMBER-INPUT
\*------------------------------------*/
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 12px;
  height: 2px;
  background-color: #FABE00;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  margin: 0 4px;
  max-width: 50px;
  border: solid #ddd;
  border-width: 0 1px;
  font-size: 18px;
  height: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 690px) {
  .number-input input[type=number] {
    font-size: 1rem;
  }
}

/*------------------------------------*\
 $AWARD-LINE
\*------------------------------------*/
.awardLine {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 30px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

.awardLine__label {
  font-weight: 500;
  padding: 6px;
  margin-right: 6px;
  border-radius: 7px;
}

.awardLine--lightBg {
  background-color: rgba(255, 255, 255, 0.1);
}

/*------------------------------------*\
 $POPUP
\*------------------------------------*/
.overlay {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  position: absolute;
  width: 50vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
}

.popup__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  padding: 30px 20px 30px 20px;
  background-color: #333;
}

.popup__content {
  padding: 30px 20px 5px 20px;
}

@media (max-width: 690px) {
  .popup {
    width: 80vw;
  }
}

@media (max-width: 380px) {
  .popup {
    width: 95vw;
  }
}

/*------------------------------------*\
 $SWIPER
\*------------------------------------*/
.swiper-container {
  width: 100%;
  height: 55vh;
}

.swiper-wrapper {
  height: calc(55vh - 30px) !important;
}

.swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  color: #FABE00 !important;
  fill: #FABE00 !important;
  stroke: #FABE00 !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: #FABE00 solid 1px;
  background-color: transparent;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #FABE00;
}

/* 
	2021.05.07
	Layout _ 版面
*/
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.wrap-fluid {
  width: 100%;
}

.fixBtn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F05A32;
  border: 6px solid #fff;
  border-bottom: 0px;
}

.fixBtn__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.fixBtn__item:after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 10%;
}

.fixBtn__item:last-child:after {
  display: none;
}

@media (max-width: 690px) {
  .fixBtn {
    width: 100%;
    left: 0;
    right: 0;
    height: 65px;
    transform: translateX(0%);
  }
}

.calculatorBtn {
  left: 20px;
  bottom: 10%;
}

@media (max-width: 690px) {
  .calculatorBtn {
    bottom: 80px;
  }
}

.kv__marco {
  transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.4s;
}

.ani_kv_fadeIn {
  opacity: 0;
  transform: translateY(100px);
}

.kv__title > .title {
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.9s;
}

.kv__title img[class^="coin"] {
  transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
  transition-delay: 0.6s;
}

.ani_kv_coin > .title {
  opacity: 0;
  transform: translateX(-50%) scale(1.3) !important;
}

.ani_kv_coin img[class^="coin"] {
  opacity: 0;
}

.ani_kv_coin > .coinLeft {
  transform: translateX(-50%) !important;
}

.ani_kv_coin > .coinRight {
  transform: translateX(-50%) !important;
}

/* 
	2021.05.07
	home _ 首頁
*/
.kv {
  background-image: url("../img/x10pattern.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}

.kv .wrap {
  overflow: hidden;
  height: 700px;
  position: relative;
}

@media (max-width: 460px) {
  .kv .wrap {
    height: 600px;
  }
}

.kv__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  background-image: url("../img/hz_white.svg");
  width: 240px;
  height: 33px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.kv__title {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.kv__title > .title {
  z-index: 2;
  width: 300px;
  max-width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.kv__title img[class^="coin"] {
  position: absolute;
  left: 50%;
  width: 20%;
}

.kv__title > .coinLeft {
  --titlewidth: calc(425px * 0.4 / 2);
  transform: translateX(calc(-50% - var(--titlewidth) - 90%));
}

.kv__title > .coinRight {
  --titlewidth: calc(425px * 0.4 / 2);
  transform: translateX(calc(-50% + var(--titlewidth) + 90%));
}

@media (max-width: 460px) {
  .kv__title {
    margin-top: 80px;
  }
}

.kv__marco {
  position: absolute;
  width: 100%;
  height: 350px;
  background-image: url("../img/kv_pcMarco.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
  background-position: bottom;
  bottom: 0;
}

@media (max-width: 690px) {
  .kv__marco {
    background-image: url("../img/kv_mbMarco.png");
  }
}

.intro {
  background-image: url("../img/x10pattern.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
  box-shadow: inset 0 3px 16px 0 #c69700;
}

.intro .wrap {
  position: relative;
}

.introContent {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.introContent__award {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.introContent__award li {
  margin-top: 10px;
  width: 150px;
  height: 140px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0 0 14px 0 #d29f00, inset 0 0 22px 6px #ffffff;
  border-radius: 23px;
}

@media (max-width: 690px) {
  .introContent {
    width: 90%;
  }
  .introContent__award {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .introContent__award li {
    width: 30vw;
    height: 30vw;
  }
}

.intro__coin {
  position: absolute;
}

.intro__coin img {
  position: relative;
}

.intro__coin--left {
  width: 193px;
  height: 218px;
  top: -15px;
  left: -10px;
}

.intro__coin--left img:nth-child(1) {
  top: 0;
  left: 2px;
}

.intro__coin--left img:nth-child(3) {
  right: -5px;
  top: -25px;
}

.intro__coin--right {
  width: 223px;
  height: 200px;
  right: -10px;
  bottom: -20px;
}

.intro__coin--right img:nth-child(1) {
  top: 55px;
}

.intro__coin--right img:nth-child(2) {
  right: -30px;
}

.intro__coin--right img:nth-child(3) {
  right: -60px;
  bottom: -20px;
}

@media (max-width: 690px) {
  .intro__coin--right {
    right: 0;
  }
}

@media (max-width: 690px) {
  .intro__coin--left {
    transform: scale(0.8);
    top: -40px;
    left: -50px;
  }
  .intro__coin--right {
    right: -60px;
  }
}

@media (max-width: 460px) {
  .intro__coin--right {
    bottom: -100px;
  }
}

.introDown__arrow {
  width: 72px;
  height: 72px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  border-radius: 50%;
}

.x10coinTitle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.x10coinContent {
  background-image: url("../img/x10pattern.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}

.x10coinContent .wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 400px;
}

.x10coinContent .wrap:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/x10coin_cat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 112px;
  left: -75px;
  top: -112px;
  z-index: -1;
}

@media (max-width: 460px) {
  .x10coinContent .wrap:before {
    display: none;
  }
}

.x10coinContent__title {
  position: relative;
  z-index: 5;
  margin-bottom: -20px;
  padding: 8px 20px;
  border-radius: 6px;
}

.x10coinContent__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  padding-top: 56px;
  padding-bottom: 40px;
  border-radius: 20px;
}

.x10coinContent__list li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.x10coinContent__list--img {
  -ms-flex: 6;
      flex: 6;
}

.x10coinContent__list--arrow {
  -ms-flex: 1;
      flex: 1;
}

@media (max-width: 690px) {
  .x10coinContent__list {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .x10coinContent__list--arrow {
    -ms-flex: 2;
        flex: 2;
    transform: rotate(90deg);
    margin-bottom: 20px;
  }
}

.x10coinContent__explanation {
  width: 60%;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 690px) {
  .x10coinContent__explanation {
    width: 80%;
  }
}

.calculator {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: -400px;
  margin-bottom: 100px;
  width: 50%;
  background-image: url("../img/x10pattern.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

@media (max-width: 690px) {
  .calculator {
    width: 90%;
  }
}

@media (max-width: 460px) {
  .calculator {
    width: 95%;
  }
}

.calculatorTab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.calculatorTab__item {
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
}

.calculatorTabContent {
  box-shadow: 0 0 14px 0 rgba(110, 83, 0, 0.3);
}

.calculatorTabContent__line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculatorTabContent__line input {
  width: 45px;
}

.calculatorTabContent__1000M {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #979797;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4), inset 0 0 22px 6px rgba(0, 0, 0, 0.2);
  border-radius: 49px;
}

.calculation {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0 14px 14px 14px;
}

.rank {
  border-radius: 0 14px 14px 14px;
}

.rank p {
  display: inline-block;
  width: 80%;
}

#calculatorPrice {
  max-width: 60px;
  width: 60px;
}

.twoAward {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.twoAward__line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 690px) {
  .twoAward__line {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

.twoAward__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 25px 40px 25px;
  width: 48%;
  background-color: #FABE00;
  border-radius: 26px;
}

.twoAward__container h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.twoAward__container .awardLine {
  margin: 10px 0;
}

@media (max-width: 690px) {
  .twoAward__container {
    width: 80%;
    margin-bottom: 50px;
  }
}

@media (max-width: 460px) {
  .twoAward__container {
    width: 100%;
  }
}

.twoAward__infinite {
  position: absolute;
  display: block;
  padding: 6px 20px;
  bottom: 0;
  transform: translateY(50%);
  border-radius: 10px;
}

.twoAward:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -59px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 60px 50vw 0 50vw;
  border-color: #ffffff transparent transparent transparent;
}

.x2coin:before,
.coin1000:before {
  content: "";
  display: block;
  position: absolute;
}

.x2coin:before {
  background-image: url("../img/x2coin_taco.png");
  width: 159px;
  height: 104px;
  left: 26px;
  top: -104px;
}

.coin1000:before {
  background-image: url("../img/1000coin_orange.png");
  width: 155px;
  height: 148px;
  right: -55px;
  bottom: -104px;
}

.coin50 {
  overflow: hidden;
  position: relative;
}

.coin50 .wrap {
  position: relative;
  padding-top: 120px;
  padding-bottom: 130px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.coin50 .wrap:after, .coin50 .wrap:before {
  content: "";
  position: absolute;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.coin50 .wrap:before {
  background-image: url("../img/50icon_left.png");
  width: 233px;
  height: 151px;
  left: 0;
}

.coin50 .wrap:after {
  background-image: url("../img/50icon_right.png");
  width: 393px;
  height: 172px;
  right: 0;
}

@media (max-width: 690px) {
  .coin50 .wrap:after, .coin50 .wrap:before {
    transform: scale(0.8);
  }
  .coin50 .wrap:before {
    left: -60px;
    transform-origin: bottom left;
  }
  .coin50 .wrap:after {
    right: -60px;
    transform-origin: bottom right;
  }
}

.coin50__title {
  position: relative;
}

.coin50__title:before, .coin50__title:after {
  content: "";
  position: absolute;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.coin50__title:before {
  background-image: url("../img/kv_leftCoin.png");
  width: 113px;
  height: 123px;
  left: -125px;
}

.coin50__title:after {
  background-image: url("../img/kv_rightCoin.png");
  width: 165px;
  height: 133px;
  right: -175px;
}

@media (max-width: 460px) {
  .coin50__title:after, .coin50__title:before {
    display: none;
  }
}

.coin50 .awardLine {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.store {
  padding: 84px 0;
  background-image: url("../img/x10pattern.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
  box-shadow: inset 0 3px 16px 0 #c69700;
}

.store .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store__select {
  z-index: 1;
  position: relative;
  padding: 10px;
  width: 30%;
  font-size: 18px;
  box-shadow: 0 0 23px 0 rgba(183, 139, 0, 0.5);
  border-radius: 8px;
  border: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../img/selectArrow.svg") no-repeat right center transparent;
  background-position: 95% center;
  background-color: #fff;
}

@media (max-width: 690px) {
  .store__select {
    width: 70%;
  }
}

.storeList {
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 0 -2%;
  margin-top: -20px;
  padding: 60px 25px 0px 25px;
  height: 800px;
  border-radius: 18px;
  overflow-y: scroll;
}

@media (max-width: 690px) {
  .storeList {
    height: 70vh;
  }
}

.storeCard {
  overflow: hidden;
  position: relative;
  width: 22%;
  height: auto;
  min-height: 415px;
  margin: 0 1.5%;
  margin-bottom: 35px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.3);
  border-bottom: 13px solid #FABE00;
}

.storeCard__top {
  position: relative;
  height: 210px;
  background-color: #d9d9d9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.storeCard__title {
  position: relative;
  padding: 10px 15px 0 15px;
}

.storeCard__title h5 {
  font-weight: 500;
  text-align: left;
}

.storeCard__title_area {
  display: block;
  padding: 2px 12px;
  position: absolute;
  left: 0;
  top: -16px;
  background-color: #FDEEBE;
  color: #6E5300;
}

.storeCard__bottom {
  padding: 0 15px;
}

.storeCard__bottom h6 {
  color: #979797;
}

.storeCard__btn {
  position: relative;
  margin-right: 15px;
  padding: 3px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85px;
  right: calc(-95% + 85px);
  bottom: 0px;
  border: 1px solid #FABE00;
  background-color: #fff;
}

.storeCard__btn h6 {
  color: #FABE00;
  transition: all 0.4s;
}

.storeCard__btn_arrow {
  display: block;
  width: 18px;
  height: 8px;
  background-image: url("../img/storeArrow-yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.storeCard__btn:hover {
  background-color: #FABE00;
}

.storeCard__btn:hover h6 {
  color: #fff;
}

.storeCard__btn:hover .storeCard__btn_arrow {
  background-image: url("../img/storeArrow-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 801px) {
  .storeCard {
    width: 30%;
  }
}

@media (max-width: 690px) {
  .storeCard {
    padding: 10px 0 8px 0;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background-color: Transparent;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    border-radius: 0;
    border-bottom: 0px;
    width: 100%;
    height: auto;
    min-height: auto;
    border-bottom: 1px solid #979797;
  }
  .storeCard:last-child {
    border-bottom: 0px solid Transparent;
  }
  .storeCard__top {
    width: 35%;
    height: 68px;
    border-radius: 6px;
  }
  .storeCard__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    width: 65%;
  }
  .storeCard__title hr {
    display: none;
  }
  .storeCard__title_area {
    border-radius: 14px;
    position: static;
    background-color: #FABE00;
    color: #fff;
  }
  .storeCard__bottom {
    padding: 0;
  }
  .storeCard__btn {
    right: auto;
  }
}

.specification {
  padding-top: 80px;
  padding-bottom: 240px;
}

.specification .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specification__list {
  width: 80%;
  list-style-type: decimal;
  line-height: 1.5;
}

.download {
  margin-top: -160px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.download a {
  display: block;
  transition: all 0.4s ease-out;
}

.download a img {
  box-shadow: 0 5px 16px 0 #fcdf81;
  border-radius: 14px;
  transition: all 0.4s ease-out;
}

.download a:hover {
  transform: translateY(-10px);
}

.download a:hover img {
  box-shadow: 0 10px 20px 0 #fcdf81;
}

.notice {
  padding-top: 100px;
  padding-bottom: 60px;
}

.notice__list {
  margin: 0 auto;
  width: 80%;
  list-style-type: decimal;
  line-height: 1.5;
}

.approbate1 {
  background-image: url("../img/pop_agree1.png");
}

.approbate2 {
  background-image: url("../img/pop_agree2.png");
}

.approbate3 {
  background-image: url("../img/pop_agree3.png");
}

.howPay1 {
  background-image: url("../img/pop_pay1.png");
}

.howPay2 {
  background-image: url("../img/pop_pay2.png");
}

.howPay3 {
  background-image: url("../img/pop_pay3.png");
}
/*# sourceMappingURL=all.css.map */